/* base.css -- Base style for ldots.org */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: black;
    background-color: white;
    margin: 0.625em 0.625em 0.625em 2.5em;
}

/* Headings */
h1, h2, h3, h4, h5, h6, th, caption, dt, #breadcrumbs, p#footer {
  font-family: monospace;
  text-align: left;
}
h1, h2, h3, h4, h5, h6, #breadcrumbs, p#footer {
    margin-left: -2.5rem;
    width: auto;
    padding-left: 0;
}

code, pre, kbd {
  font-family: monospace;
  font-weight: bold;
}

/* Make the kbd tag look as if it has a shadow. */
kbd {
  border-style: outset;
}

/* Use the correct double and single quotes, double quotes first */
q {quotes: '\201c' '\201d' '\2018' '\2019'}

/* Tables have no gaps between the borders */
table {
  border-spacing: 0;
  width: 100%;
}

/* Small-caps font */
abbr, acronym, .sc {
  font-variant: small-caps;
}

/* Unorderd list without bullets. */
ul.preity {
  list-style: none;
}

/* We make definition terms and table headings bold because they are
 * smaller than h[1-6] tags.
*/
#breadcrumbs, caption, th, dt {
  font-weight: bold;
}
/* Table headings are in reverse-colour */
caption, th {
  color: white;
  background: black;
  padding: 0.625rem;
  vertical-align: top;
}
caption {
  font-size: larger;
}
table{
  width: auto;

  border-bottom: thick solid black;
}

/* For tables that require a rule under the header */
th.headrule {
  border-bottom: solid;
  border-color: black;
}

/* Figures float to the right, with a nice margin around them */
figure .pull-right {
  float: right;
  margin-left: 1rem;
}
figure a img {
  border: 0;
}

/* The breadcrumb trail */
#breadcrumbs {
  border-bottom: thin dashed black;
  line-height: 2;
}

#breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#breadcrumbs ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
#breadcrumbs ul li:before {
  content: ">";
}
.fragment {
  padding: 0.625rem;
  color: white;
  background-color: black;
  font-weight: bold;
}
.sidebar {
  float: right;
}

/* The footer at the bottom of the page. */
#footer {
  font-size: smaller;
  border-top: thin solid black;
  margin: 1.25rem 0 0 0;
  padding: 1.25rem 0em 1.25rem 0em;
}
