/* blackwhite.css -- Black and white colour scheme for ldots.org 
 *
 * Monospace fonts and large amounts of whitespace are used to make
 * everything look distinctive, rather than colour.
 */
@import url("base.css");

body {
  color: black;
  background-color: white;
  font-family: serif;

  margin: 1em 2em 1em 10%;
}

/* Headings */
h1, h2, h3, h4, h5, h6, th, caption, dt, #breadcrumbs, p#footer {
  font-family: monospace;
  text-align: left;
}
h1, h2, h3, h4, h5, h6, #breadcrumbs, p#footer {
    clear: both;
    margin-left: -10%;
    width: auto;
    padding-left: 0em;
}
/* We make definition terms and table headings bold because they are
 * smaller than h[1-6] tags.
*/
#breadcrumbs, caption, th, dt {
  font-weight: bold;
}
/* Table headings are in reverse-colour */
caption, th {
  color: white;
  background: black;

  padding: 0.4em 0.4em 0.4em 0.4em;
  vertical-align: top;
}
caption { 
  font-size: larger;
}
table{ 
  width: auto;

  border-bottom: thick solid black;
}

/* The breadcrumb trail */
#breadcrumbs {
  border-bottom: thin dashed black;

  line-height: 2em;
}

#breadcrumbs ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}
#breadcrumbs ul li { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline;
}
#breadcrumbs ul li:before { 
  content: ">";
}
#adsense {
  margin-left: -10%;
}
.fragment {
  padding: 0.4em;
  color: white;
  background-color: black;
  font-weight: bold;
}
.sidebar {
  float: right;
}