/* ginga.css -- Ginga colour scheme for ldots.org */
@import url("base.css");

/* Basic layout and color scheme */
body {
	color: #885b38; /* Chocolate */
	background: white url("/mpj17-large.png") no-repeat fixed bottom right;
}

div#maincontent {
	margin: 28px 128px 28px 128px;
}

/* Basic style:
 * - Chocolate text
 * - Orange, sans-serif headings, and 
 * - Orange links. */
h1, h2, h2, h4, h5, h6, th, caption, dt {
	color: #ffb223; /* Orange */
	background: inherit;
	border-bottom: thick solid #885b38;
	font-family: sans-serif;
	font-weight: bold;

	z-index: 0;
}
dt, th {
	border-bottom: none;
}

h1 {
       margin-top: 0px;
       padding-top: 0px;
}

h2 {
	margin-top: 2em;
}

th, caption {
	text-align: left;
}

a {
	font-weight: bold;
	color: #ffb223;
	background: inherit;
}
a:visited {
	font-weight: normal;
	color: #885b38;
	background: inherit;
}


/* Pop-up menu for the breadcrumb link */
div#breadcrumbs {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 256px;
	height: 29px;
	z-index: 2;

	margin: 4px;
	padding: 0px;

	background: url("ldots-dots.png") no-repeat; 
}


div#breadcrumbs ul {
	font-family: sans-serif;
	list-style: none;
	border: thin solid #885b38;

	position: absolute;
	left: 16px;
	top: 28px;
	z-index: 4;

	margin: 0px;
	padding: 0px;

	display: none;
}
div#breadcrumbs:hover ul {
	display: block;
	background: url("ginga-background.png") repeat;
}

div#breadcrumbs li {
	padding: 8px;
}

div#breadcrumbs a {
	color: #885b38;
	background: inherit;
}

div#breadcrumbs a:visited {
	color: #885b38;
	background: inherit;
}

/* Footer at the bottom of the page */
#footer {
	padding: 1em 0px 1em 0px;
	border-top: thin solid #885b38;
}

/* Figures */
.figure, .sidebar {
	float: right;
}
.sidebar {
  font-weight: bold;
  background: url("ginga-background.png") repeat;
  width: 10em;
  margin: 1em 0em 1em 1em;
  padding: 0em 1em 0em 1em;
}
.fragment {
  padding: 0.4em;
  color: #ffb223; /* Orange */
  background-color: #885b38;
}