/* Loosely based on the Gorilla stylesheet */
@import url("base.css");

body {
  font-family: serif;
  margin: 0px;
  padding: 0px 1px 0px 1px;
  width: 100%;
}

#maincontent {
  margin: 0em;
  padding: 0em;
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, th, caption, dt{
  color: #3b3ca2;
  background: white;
  font-variant: small-caps;
  font-weight: bold;
  font-family: serif;
  padding: 0em;
}

h1, h2 { 
  width: 100%;
  text-align: right;
  border-bottom: thick solid #3b3ca2;
}
h1 { 
  margin: 0em;
}
h2, h3, h4, h5, h6 { 
  margin: 2ex 0ex 1ex 0ex;
}

p, dd, td, li {
  font-family: serif;
}

#adsense { 
  display: none;
}

div.sidebar, #contents { 
  display: block;
  float: none;
  width: auto;
  padding: 0px;
  margin: 0px;
}

#breadcrumbs {
  border-bottom: thin dashed black;
  width: 100%;
  line-height: 2em;
}
#breadcrumbs ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}
#breadcrumbs ul li { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 3px;
  display: inline;
}
#breadcrumbs ul li:before { 
  content: ">";
}

#footer {
  width: 100%;
  font-family: sans-serif;
  font-size: smaller;
  border-top: 0.5pt solid black;
  padding-top: 1ex;
}